In [2]:
# read all the names in a python list
with open(file="datasets/names.txt", mode="r") as namesTxt: 
    names = [line[:-1] for line in namesTxt.readlines()]

In [16]:
pairs = {}
for name in names:
    name = "*" + name + "."
    for char1, char2 in zip(name, name[1:]):
        bigram = (char1, char2)
        pairs[bigram] = pairs.get(bigram, 0) + 1

In [30]:
import pandas as pd
df = pd.DataFrame(pairs.items(), columns=["bigram", "count"])
df.sort_values(by="count", axis=0, ascending=False).head(10)

     bigram  count
50   (n, .)   6763
4    (a, .)   6640
102  (a, n)   5438
11   (*, a)   4410
36   (e, .)   3983
30   (a, r)   3264
19   (e, l)   3248
67   (r, i)   3033
82   (n, a)   2977
140  (*, k)   2963

In [31]:
import torch

In [34]:
a = torch.zeros((3,5), dtype=torch.int32)
a[1,3] = 1
a

tensor([[0, 0, 0, 0, 0],
        [0, 0, 0, 1, 0],
        [0, 0, 0, 0, 0]], dtype=torch.int32)

In [44]:
chars = sorted(list(set("".join(names)))) + ["<S>","<E>"]
stoi = {c:i for i,c in enumerate(chars)}
stoi

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25,
 '<S>': 26,
 '<E>': 27}